


{% extends 'appstatico/base.html' %}

{% block content %}

<div class="container">
    <h2>Busqueda de Demandas</h2>
	<form method="GET">
        <div class="input-group">
            <input type="text" class="form-control" name="buscar" value="{{request.GET.buscar}}" >
            <button type="submit" class='btn' >Buscar</button>
        </div>
    </form>
    
    

    
	<table class="table table-dark">
		<thead>
		  <tr>
			<th scope="col">#</th>
			<th scope="col">Id</th>
			<th scope="col">Fecha</th>
			<th scope="col">Tipo</th>
		  </tr>
		</thead>
		<tbody>
			{% for d in demanda %}
		  <tr>
			<th scope="row">1</th>
			<td>{{d.id_demanda}}</td>
			<td>{{d.fecha}}</td>
            <td>{{d.tipodemanda}}</td>
 		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
	
</div>
{% endblock %}